<include file="Common:header"/>
		<div class="main">
			<div class="main_left">
				<div class="title">
					<h1>{$vo.title}</h1>
					<span>{$vo.date|date="y-m-d",###}</span>
				</div>
				<div class="notice_info">
					{$vo.content}
				</div>
			</div>
			<div class="main_right">
				<div class="info_right">
					<div class="right_title">
						<b>DUDU公告</b>
						<a href="{:U('notice_list')}">MORE</a>
					</div>
					<div class="right_content right_content1">
						
					</div>
				</div>
				<div class="cross_indro mar_top">
					<div class="cross_list">
						<h2 class="cross1">新手入门</h2>
						<a href="#">师徒系统</a>
						<a href="#">聊天系统</a>
						<a href="#" style="border:none;">交易系统</a>
						<a href="#">包裹系统</a>
						<a href="#">助手系统</a>
						<a href="#" style="border:none;">摆摊系统</a>
					</div>
					<div class="cross_list" style="margin-right:0;">
						<h2 class="cross2">高手进阶</h2>
						<a href="#">师徒系统</a>
						<a href="#">聊天系统</a>
						<a href="#" style="border:none;">交易系统</a>
						<a href="#">包裹系统</a>
						<a href="#">助手系统</a>
						<a href="#" style="border:none;">摆摊系统</a>
					</div>
					<div class="cross_list">
						<h2 class="cross3">特色玩法</h2>
						<a href="#">师徒系统</a>
						<a href="#">聊天系统</a>
						<a href="#" style="border:none;">交易系统</a>
						<a href="#">包裹系统</a>
						<a href="#">助手系统</a>
						<a href="#" style="border:none;">摆摊系统</a>
					</div>
					<div class="cross_list" style="margin-right:0;">
						<h2 class="cross4">道具装备</h2>
						<a href="#">师徒系统</a>
						<a href="#">聊天系统</a>
						<a href="#" style="border:none;">交易系统</a>
						<a href="#">包裹系统</a>
						<a href="#">助手系统</a>
						<a href="#" style="border:none;">摆摊系统</a>
					</div>
				</div>
			</div>
<include file="Common:footer"/>