<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="__CSS__/base.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css">
    <script type="text/javascript" src="__JS__/jquery.min-1.7.1.js"></script>
    <script type="text/javascript" src="__JS__/kxbdMarquee.js"></script>
</head>
<body>
    <div class="weball">
        <div class="header">
            <img src="__IMAGES__/logo.fw.png" class="logo" />
            <img src="__IMAGES__/font.fw.png" class="font" />
            <img src="__IMAGES__/person.fw.png" class="person" />
            <ul class="nav">
                <li class="active"><a href="{:U('index')}">官方首页</a></li>
                <li><a href="#">新闻中心</a></li>
                <li><a href="#">游戏介绍</a></li>
                <li><a href="#">用户中心</a></li>
                <li><a href="#">账号注册</a></li>
                <li><a href="#">充值</a></li>
            </ul>
        </div>